<h1>New Product</h1>

<% if @product.errors.present? %>
	<ul style="color: red">
	<% @product.errors.full_messages.each do |err| %>
		<li><%= err %></li>
	<% end %>
	</ul>
<% end %>

<%= form_for [:admin, @product] do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :price %>
	<%= f.text_field :price %>
	<%= f.submit %>
<% end %>